.profile__name {
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 56px;
  text-align: center;
  margin: 0;
  text-overflow: ellipsis;
  max-width: 262px;
  overflow: hidden;
  white-space: nowrap;
}

@media (min-width: 650px) {
  .profile__name {
    text-align: left;
    max-width: 250px;
  }
}

@media (min-width: 882px) {
  .profile__name {
    max-width: 450px;
    font-size: 42px;
  }
}