.element__image {
  width: 282px;
  height: 282px;
  background-position: center center;
  background-size: cover;
}

.element__image:hover {
  opacity: .8;
}

/* Для Хрома, Я.Браузера и Мозиллы: */
.element__image:before {
  display: block;
  padding: 20px;
}