.popup__close-button {
  position: absolute;
  right: -34px;
  top: -34px;
  border: none;
  width: 40px;
  height: 40px;
  background-image: url(../../../images/close-button.svg);
  background-color: transparent;
  background-size: cover;
}

@media (min-width: 582px) {
  .popup__close-button {
    right: -32px;
    top: -32px;
  }
}