.elements {
  display: grid;
  width: 100%;
  max-width: 882px;
  grid-template-columns: repeat(auto-fit, 282px); 
  grid-row-gap: 20px;
  grid-column-gap: 18px;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}